USE [master]
GO
/****** Object:  Database [J3LP0010]    Script Date: 9/30/2020 10:40:34 PM ******/
CREATE DATABASE [J3LP0010]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J3LP0010', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\J3LP0010.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'J3LP0010_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\J3LP0010_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J3LP0010].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J3LP0010]
GO
/****** Object:  User [user]    Script Date: 9/30/2020 10:40:34 PM ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tblArticle]    Script Date: 9/30/2020 10:40:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArticle](
	[postId] [int] IDENTITY(1,1) NOT NULL,
	[image] [varchar](max) NULL,
	[title] [nvarchar](50) NULL,
	[mail] [varchar](50) NULL,
	[status] [int] NULL,
	[date] [date] NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblArticle] PRIMARY KEY CLUSTERED 
(
	[postId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblComment]    Script Date: 9/30/2020 10:40:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblComment](
	[cmtId] [int] IDENTITY(1,1) NOT NULL,
	[postId] [int] NULL,
	[mail] [varchar](50) NULL,
	[cmtContent] [nvarchar](max) NULL,
	[date] [date] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_tblComment] PRIMARY KEY CLUSTERED 
(
	[cmtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmotion]    Script Date: 9/30/2020 10:40:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmotion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[postId] [int] NULL,
	[mail] [varchar](50) NULL,
	[likes] [bit] NULL,
	[dislikes] [bit] NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_tblEmotion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNoti]    Script Date: 9/30/2020 10:40:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNoti](
	[notiId] [int] IDENTITY(1,1) NOT NULL,
	[postId] [int] NULL,
	[mail] [varchar](50) NULL,
	[date] [date] NULL,
	[type] [varchar](10) NULL,
	[status] [int] NULL,
	[cmtId] [int] NULL,
 CONSTRAINT [PK_tblNoti] PRIMARY KEY CLUSTERED 
(
	[notiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 9/30/2020 10:40:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatus](
	[statusID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](10) NULL,
 CONSTRAINT [PK_tblStatus] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 9/30/2020 10:40:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[mail] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[password] [varchar](64) NULL,
	[role] [varchar](50) NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblArticle] ON 

INSERT [dbo].[tblArticle] ([postId], [image], [title], [mail], [status], [date], [description]) VALUES (2, N'pumpkin02amazinglycat_1024x1024.jpg', N'pumpkin cat', N'a@mail.com', 3, CAST(N'2020-09-25' AS Date), N'hello there')
INSERT [dbo].[tblArticle] ([postId], [image], [title], [mail], [status], [date], [description]) VALUES (3, N'120346820_1678473412307089_3501600346265187047_n.jpg', N'Grab Cat', N'a@mail.com', 2, CAST(N'2020-09-28' AS Date), N'Hello every one!!!
We''re excited to introduced our new employee!!
Grab cat delivery man!')
INSERT [dbo].[tblArticle] ([postId], [image], [title], [mail], [status], [date], [description]) VALUES (4, N'120131883_3874000745960785_1219703760683304606_o.jpg', N'Cute cat for a rainy day', N'a@mail.com', 2, CAST(N'2020-09-28' AS Date), N'cat cat cat')
SET IDENTITY_INSERT [dbo].[tblArticle] OFF
SET IDENTITY_INSERT [dbo].[tblComment] ON 

INSERT [dbo].[tblComment] ([cmtId], [postId], [mail], [cmtContent], [date], [status]) VALUES (1, 3, N'a@mail.com', N'waoooo', CAST(N'2020-09-29' AS Date), 2)
INSERT [dbo].[tblComment] ([cmtId], [postId], [mail], [cmtContent], [date], [status]) VALUES (2, 3, N'meomeo@mail.com', N'waooooo', CAST(N'2020-09-29' AS Date), 2)
INSERT [dbo].[tblComment] ([cmtId], [postId], [mail], [cmtContent], [date], [status]) VALUES (4, 3, N'a@mail.com', N'I could get lost in your beautiful eyes!
', CAST(N'2020-09-30' AS Date), 2)
SET IDENTITY_INSERT [dbo].[tblComment] OFF
SET IDENTITY_INSERT [dbo].[tblEmotion] ON 

INSERT [dbo].[tblEmotion] ([Id], [postId], [mail], [likes], [dislikes], [date]) VALUES (1, 2, N'a@mail.com', 1, 0, CAST(N'2020-09-30' AS Date))
INSERT [dbo].[tblEmotion] ([Id], [postId], [mail], [likes], [dislikes], [date]) VALUES (2, 4, N'a@mail.com', 0, 1, CAST(N'2020-09-30' AS Date))
INSERT [dbo].[tblEmotion] ([Id], [postId], [mail], [likes], [dislikes], [date]) VALUES (3, 4, N'meomeo@mail.com', 1, 0, CAST(N'2020-09-30' AS Date))
SET IDENTITY_INSERT [dbo].[tblEmotion] OFF
SET IDENTITY_INSERT [dbo].[tblNoti] ON 

INSERT [dbo].[tblNoti] ([notiId], [postId], [mail], [date], [type], [status], [cmtId]) VALUES (1, 3, N'meomeo@mail.com', CAST(N'2020-09-30' AS Date), N'likes', 4, NULL)
INSERT [dbo].[tblNoti] ([notiId], [postId], [mail], [date], [type], [status], [cmtId]) VALUES (2, 4, N'meomeo@mail.com', CAST(N'2020-09-30' AS Date), N'dislikes', 3, NULL)
INSERT [dbo].[tblNoti] ([notiId], [postId], [mail], [date], [type], [status], [cmtId]) VALUES (3, 5, N'meomeo@mail.com', CAST(N'2020-09-30' AS Date), N'likes', 5, NULL)
SET IDENTITY_INSERT [dbo].[tblNoti] OFF
SET IDENTITY_INSERT [dbo].[tblStatus] ON 

INSERT [dbo].[tblStatus] ([statusID], [Name]) VALUES (1, N'New')
INSERT [dbo].[tblStatus] ([statusID], [Name]) VALUES (2, N'Active')
INSERT [dbo].[tblStatus] ([statusID], [Name]) VALUES (3, N'Delete')
SET IDENTITY_INSERT [dbo].[tblStatus] OFF
INSERT [dbo].[tblUser] ([mail], [name], [password], [role], [status]) VALUES (N'a@mail.com', N'tus', N'1be2e452b46d7a0d9656bbb1f768e8248eba1b75baed65f5d99eafa948899a6a', N'member', N'1')
INSERT [dbo].[tblUser] ([mail], [name], [password], [role], [status]) VALUES (N'brownmeomeo@mail.com', N'Brown meo', N'1be2e452b46d7a0d9656bbb1f768e8248eba1b75baed65f5d99eafa948899a6a', N'member', N'1')
INSERT [dbo].[tblUser] ([mail], [name], [password], [role], [status]) VALUES (N'happycat@mail.com', N'happy cat', N'1be2e452b46d7a0d9656bbb1f768e8248eba1b75baed65f5d99eafa948899a6a', N'member', N'1')
ALTER TABLE [dbo].[tblArticle]  WITH CHECK ADD  CONSTRAINT [FK_tblArticle_tblStatus] FOREIGN KEY([status])
REFERENCES [dbo].[tblStatus] ([statusID])
GO
ALTER TABLE [dbo].[tblArticle] CHECK CONSTRAINT [FK_tblArticle_tblStatus]
GO
ALTER TABLE [dbo].[tblComment]  WITH NOCHECK ADD  CONSTRAINT [FK_tblComment_tblArticle1] FOREIGN KEY([postId])
REFERENCES [dbo].[tblArticle] ([postId])
GO
ALTER TABLE [dbo].[tblComment] CHECK CONSTRAINT [FK_tblComment_tblArticle1]
GO
ALTER TABLE [dbo].[tblComment]  WITH CHECK ADD  CONSTRAINT [FK_tblComment_tblUser] FOREIGN KEY([mail])
REFERENCES [dbo].[tblUser] ([mail])
GO
ALTER TABLE [dbo].[tblComment] CHECK CONSTRAINT [FK_tblComment_tblUser]
GO
ALTER TABLE [dbo].[tblEmotion]  WITH NOCHECK ADD  CONSTRAINT [FK_tblEmotion_tblArticle] FOREIGN KEY([postId])
REFERENCES [dbo].[tblArticle] ([postId])
GO
ALTER TABLE [dbo].[tblEmotion] CHECK CONSTRAINT [FK_tblEmotion_tblArticle]
GO
ALTER TABLE [dbo].[tblEmotion]  WITH CHECK ADD  CONSTRAINT [FK_tblEmotion_tblUser] FOREIGN KEY([mail])
REFERENCES [dbo].[tblUser] ([mail])
GO
ALTER TABLE [dbo].[tblEmotion] CHECK CONSTRAINT [FK_tblEmotion_tblUser]
GO
ALTER TABLE [dbo].[tblNoti]  WITH NOCHECK ADD  CONSTRAINT [FK_tblNoti_tblArticle] FOREIGN KEY([postId])
REFERENCES [dbo].[tblArticle] ([postId])
GO
ALTER TABLE [dbo].[tblNoti] CHECK CONSTRAINT [FK_tblNoti_tblArticle]
GO
ALTER TABLE [dbo].[tblNoti]  WITH CHECK ADD  CONSTRAINT [FK_tblNoti_tblUser] FOREIGN KEY([mail])
REFERENCES [dbo].[tblUser] ([mail])
GO
ALTER TABLE [dbo].[tblNoti] CHECK CONSTRAINT [FK_tblNoti_tblUser]
GO
USE [master]
GO
